<template>
	<div class="recipe">
		{{ recipe.output.quantity }} x
		<game-icon type="item" :id="recipe.output.itemId" />
		<div class="arrow">&nbsp;</div>
		<span v-for="(input, index) in recipe.inputs" :key="index">
			{{ input.quantity }} x
			<game-icon type="item" :id="input.itemId" />
			<div v-if="index < (recipe.inputs.length - 1)" class="add">&nbsp;</div>
		</span>
	</div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import { IRecipe } from "../models";

@Component
export default class Recipe extends Vue {
	@Prop()
	readonly recipe: IRecipe;
}
</script>

<style lang="less" scoped>
	.recipe {
		display: inline-block;
		line-height: 32px;
	}

	.arrow, .add {
		display: inline-block;
		height: 32px;
		width: 24px;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.arrow {
		background-image: url("images/icons/arrow-left.png");
	}

	.add {
		background-image: url("images/icons/add.png");
	}
</style>
