<template>
	<div>
		<h4>Machines Required</h4>
		<ul>
			<li v-for="count in totalMachines" :key="count.machineId">
				{{ count.count | roundUp }} x <game-icon type="machine" :id="count.machineId" :hover="false" />
				{{ getMachineName(count.machineId) }}
			</li>
		</ul>
		<h4>Resource Nodes Required</h4>
		<ul>
			<li v-for="count in totalNodes" :key="count.itemId">
				{{ count.count | roundUp }} x <game-icon type="item" :id="count.itemId" :hover="false" />
				{{ getItemName(count.itemId) }} ({{ nodePurity }})
			</li>
		</ul>
	</div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import { IProductionStep, IMachine } from "../models";
import { machinesById } from "../data/machines";
import { recipesById } from "../data/recipes";
import { itemsById } from "../data/items";
import store from "../store";

interface IMachineCount {
	machineId: number;
	count: number;
}

interface INodeCount {
	itemId: number;
	count: number;
}

@Component
export default class RequirementDisplay extends Vue {
	@Prop()
	readonly productionSteps: IProductionStep[];

	get totalMachines() {
		const total = {} as Dictionary<IMachineCount>;
		this.productionSteps.forEach((step) => {
			const id = step.machineId;
			if (!(id in total)) {
				total[id] = { machineId: id, count: 0 };
			}
			total[id].count += step.quantity;
		});
		return total;
	}

	get totalNodes() {
		const total = {} as Dictionary<INodeCount>;
		this.productionSteps
		.filter((step) => machinesById[step.machineId].type === "miner")
		.forEach((step) => {
			const id = recipesById[step.recipeId].output.itemId;
			if (!(id in total)) {
				total[id] = { itemId: id, count: 0 };
			}
			total[id].count += step.quantity;
		});
		return total;
	}

	get nodePurity() {
		return store.state.nodePurity;
	}

	getMachineName(machineId: number) {
		return machinesById[machineId].name;
	}

	getItemName(itemId: number) {
		return itemsById[itemId].name;
	}
}
</script>

